In [4]:
# Libraries
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt
from mpl_toolkits.mplot3d import Axes3D

%matplotlib inline

######################## DATASETS #####################################
#  https://www.kaggle.com/thunderz/anime-dataset?select=anime_data.csv
#       1900s_2020_anime.csv
#       1900s_2020_anime_data.csv
#       1900s_2020_user_data.csv

#  https://www.kaggle.com/thunderz/anime-dataset
#        MyAnimeList-2020.cs

#  https://www.kaggle.com/CooperUnion/anime-recommendations-database
#        anime_from_anime_recommendations.csv
#        rating_from_anime_recommendations.csv 
########################################################################

In [5]:
#######################################  1900s_2020_anime.csv ######################################################

In [6]:
df_anime_19_20 = pd.read_csv('data/1900s_2020_anime.csv', sep=';')
df_anime_19_20.head()

,name,type,status,date,genres,score,members,rank,popularity,image,quantity
0,.hack//G.U. Returner,OVA,Finished Airing,"Jan 18, 2007","Magic, Adventure, Fantasy, Game, Sci-Fi, Drama",6.73,NaN,4679.0,3604,https://cdn.myanimelist.net/images/anime/11/23...,1.0
1,.hack//G.U. Trilogy,Movie,Finished Airing,"Mar 25, 2008","Action, Fantasy, Game, Sci-Fi",7.15,NaN,2946.0,2928,https://cdn.myanimelist.net/images/anime/4/230...,1.0
2,.hack//G.U. Trilogy: Parody Mode,Special,Finished Airing,"Mar 25, 2008","Fantasy, Game, Comedy, Sci-Fi, Parody",6.46,NaN,6017.0,4816,https://cdn.myanimelist.net/images/anime/10/86...,1.0
3,.hack//Gift,OVA,Finished Airing,"Nov 16, 2003","Comedy, Fantasy, Game",6.16,NaN,7407.0,3652,https://cdn.myanimelist.net/images/anime/2/230...,1.0
4,.hack//Intermezzo,Special,Finished Airing,"Mar 28, 2003","Adventure, Fantasy, Game, Magic, Mystery, Sci-Fi",6.57,NaN,5452.0,3464,https://cdn.myanimelist.net/images/anime/12/66...,1.0

In [7]:
df_anime_19_20.describe()

              score      members          rank    popularity      quantity
count  11943.000000  6962.000000  15380.000000  17044.000000  16571.000000
mean       6.525741   333.379776   7795.068401   8645.815830     11.528695
std        0.881795   243.031385   4498.016570   4995.447682     47.873228
min        1.860000     0.000000      1.000000      1.000000      1.000000
25%        5.950000   146.000000   3895.750000   4319.750000      1.000000
50%        6.540000   251.000000   7794.500000   8642.500000      2.000000
75%        7.150000   473.000000  11685.250000  12968.250000     12.000000
max        9.220000   999.000000  15609.000000  17311.000000   3057.000000

In [8]:
df_anime_19_20.shape

(17044, 11)

In [9]:
df_anime_19_20.isnull().sum()

name              0
type              0
status            0
date              0
genres           58
score          5101
members       10082
rank           1664
popularity        0
image          5419
quantity        473
dtype: int64

In [10]:
df_anime_19_20.duplicated().sum()

1

In [3]:
#######################################  1900s_2020_anime_data.csv ######################################################

In [12]:
df_anime_data_19_20 = pd.read_csv('data/1900s_2020_anime_data.csv')
df_anime_data_19_20.head()

,mal_id,aired_from,aired_to,duration,episodes,genres,popularity,premiered,rank,rating,score,scored_by,source,status,studios,synopsis,title,title_english,type
0,1,1998-04-03T00:00:00+00:00,1999-04-24T00:00:00+00:00,24 min per ep,26,"['Action', 'Adventure', 'Comedy', 'Drama', 'Sc...",38,Spring 1998,27.0,R - 17+ (violence & profanity),8.79,544987,Original,Finished Airing,"[{'mal_id': 14, 'name': 'Sunrise'}]","In the year 2071, humanity has colonized sever...",Cowboy Bebop,Cowboy Bebop,TV
1,100,2001-04-04T00:00:00+00:00,2001-06-27T00:00:00+00:00,23 min per ep,13,"['Comedy', 'Drama', 'Fantasy', 'Magic', 'Roman...",2075,Spring 2001,2703.0,PG-13 - Teens 13 or older,7.21,23787,Manga,Finished Airing,"[{'mal_id': 34, 'name': 'Hal Film Maker'}]","Due to her father's remarriage, robust 16-year...",Shin Shirayuki-hime Densetsu Prétear,Prétear: The New Legend of Snow White,TV
2,1000,1978-03-14T00:00:00+00:00,1979-02-13T00:00:00+00:00,25 min per ep,42,"['Action', 'Sci-Fi', 'Adventure', 'Space', 'Dr...",2980,Spring 1978,1008.0,PG-13 - Teens 13 or older,7.71,7059,Manga,Finished Airing,"[{'mal_id': 18, 'name': 'Toei Animation'}]",It is 2977 AD and mankind has become stagnant....,Uchuu Kaizoku Captain Herlock,Space Pirate Captain Harlock,TV
3,10003,2008-01-01T00:00:00+00:00,NaN,2 min per ep,15,"['Comedy', 'Dementia', 'Horror', 'Seinen']",6848,NaN,10146.0,R+ - Mild Nudity,5.05,1181,Original,Finished Airing,[],"In these jokey short films, many of them crude...",Kago Shintarou Anime Sakuhin Shuu,NaN,OVA
4,10005,2007-03-31T00:00:00+00:00,NaN,1 hr 35 min,1,"['Action', 'Adventure', 'Mecha', 'Sci-Fi']",10765,NaN,6121.0,G - All Ages,6.43,228,Unknown,Finished Airing,"[{'mal_id': 455, 'name': 'Palm Studio'}]",This theatrical version based on the manga by ...,Tetsujin 28-gou: Hakuchuu no Zangetsu,NaN,Movie

In [13]:
df_anime_data_19_20.describe()

,mal_id,episodes,popularity,rank,score,scored_by
count,11335.000000,11335.000000,11335.000000,10053.000000,11335.000000,1.133500e+04
mean,16507.488928,10.719894,6026.067314,5222.290162,6.546585,2.307938e+04
std,14050.968996,37.196154,3650.599146,3081.816589,0.890211,7.620780e+04
min,1.000000,1.000000,1.000000,1.000000,1.860000,1.000000e+02
25%,3310.500000,1.000000,2916.000000,2544.000000,5.960000,5.470000e+02
50%,10906.000000,2.000000,5860.000000,5142.000000,6.570000,2.102000e+03
75%,31613.500000,12.000000,8924.500000,7905.000000,7.180000,1.188650e+04
max,42723.000000,1818.000000,14659.000000,10621.000000,9.220000,1.524129e+06

In [14]:
df_anime_data_19_20.shape

(11335, 19)

In [15]:
df_anime_data_19_20.isnull().sum()

mal_id              0
aired_from          5
aired_to         5368
duration            0
episodes            0
genres              0
popularity          0
premiered        7880
rank             1282
rating              0
score               0
scored_by           0
source              0
status              0
studios             0
synopsis          237
title               0
title_english    5941
type                0
dtype: int64

In [16]:
df_anime_data_19_20.duplicated().sum()

0

In [17]:
#######################################  1900s_2020_user_data.csv ######################################################

In [19]:
df_user_data_19_20 = pd.read_csv('data/1900s_2020_user_data.csv')
df_user_data_19_20.head()

,name,planning,watched,completed,days_watched,dropped,episodes_watched,mean_score,on_hold,plan_to_watch,rewatched,total_entries,watching,birthday,gender,joined,last_online,location,favorites,genre_count
0,-0,"[{'mal_id': 39764, 'title': 'Detective Conan M...","[{'title': '1', 'mal_id': 29978, 'score': 6, '...",467,181.6,0,11160,7.74,0,7,0,477,3,NaN,NaN,2017-09-19T00:00:00+00:00,2020-09-25 11:03:22+00:00,NaN,"{'anime': [], 'characters': [], 'people': []}","{'Action': 153, 'Adventure': 162, 'Cars': 5, '..."
1,-Droid-,"[{'mal_id': 6408, 'title': '""Bungaku Shoujo"" M...","[{'title': '11eyes', 'mal_id': 6682, 'score': ...",1125,263.3,4,16195,7.80,4,1131,53,2271,7,1930-01-07T00:00:00+00:00,Male,2013-09-07T00:00:00+00:00,2020-09-17 21:07:00+00:00,MA,"{'anime': [{'mal_id': 237, 'title': 'Koukyoush...","{'Action': 447, 'Adventure': 186, 'Cars': 1, '..."
2,-Hentai,"[{'mal_id': 39783, 'title': '5-toubun no Hanay...","[{'title': '3-gatsu no Lion', 'mal_id': 31646,...",887,270.4,60,16189,7.36,9,88,8,1070,26,1991-11-05T00:00:00+00:00,Male,2014-05-19T00:00:00+00:00,2020-09-21 19:11:28+00:00,UAE - Sharjah,"{'anime': [{'mal_id': 31933, 'title': 'JoJo no...","{'Action': 418, 'Adventure': 210, 'Cars': 1, '..."
3,-Jens,"[{'mal_id': 31646, 'title': '3-gatsu no Lion'}...","[{'title': '07-Ghost', 'mal_id': 5525, 'score'...",102,17.8,0,1093,6.81,8,403,0,518,5,NaN,NaN,2020-06-11T00:00:00+00:00,2020-09-24 14:06:00+00:00,Fish tank. I'm stuck.,"{'anime': [{'mal_id': 205, 'title': 'Samurai C...","{'Action': 36, 'Adventure': 9, 'Cars': 0, 'Com..."
4,-Kano,"[{'mal_id': 34777, 'title': '91 Days: Toki no ...","[{'title': '3-gatsu no Lion', 'mal_id': 31646,...",193,65.2,25,3961,6.92,32,70,2,325,5,NaN,NaN,2015-08-12T00:00:00+00:00,2020-09-26 01:29:32+00:00,NaN,"{'anime': [], 'characters': [], 'people': []}","{'Action': 84, 'Adventure': 25, 'Cars': 0, 'Co..."

In [20]:
df_user_data_19_20.describe()

,completed,days_watched,dropped,episodes_watched,mean_score,on_hold,plan_to_watch,rewatched,total_entries,watching
count,2195.000000,2195.000000,2195.000000,2195.000000,2195.000000,2195.000000,2195.000000,2195.000000,2195.000000,2195.000000
mean,433.814123,122.496674,28.907517,7719.424146,7.066588,19.630979,192.500683,20.524829,694.082005,19.226879
std,701.161822,131.530904,208.860362,9390.248439,1.515720,49.139325,445.081841,90.231621,995.627147,57.267595
min,3.000000,0.400000,0.000000,15.000000,0.000000,0.000000,0.000000,0.000000,10.000000,0.000000
25%,157.000000,51.500000,1.000000,3153.500000,6.615000,1.500000,34.000000,0.000000,280.500000,4.000000
50%,273.000000,90.700000,8.000000,5518.000000,7.260000,7.000000,94.000000,1.000000,472.000000,8.000000
75%,490.500000,148.550000,24.000000,9233.000000,7.890000,19.000000,212.000000,13.000000,796.500000,17.000000
max,14025.000000,1928.400000,9012.000000,151474.000000,10.000000,1400.000000,12517.000000,2515.000000,17118.000000,1747.000000

In [21]:
df_user_data_19_20.shape

(2195, 20)

In [22]:
df_user_data_19_20.isnull().sum()

name                  0
planning              0
watched               0
completed             0
days_watched          0
dropped               0
episodes_watched      0
mean_score            0
on_hold               0
plan_to_watch         0
rewatched             0
total_entries         0
watching              0
birthday            934
gender              444
joined                0
last_online           0
location            721
favorites             0
genre_count           0
dtype: int64

In [23]:
df_user_data_19_20.duplicated().sum()

0

In [13]:
#######################################  MyAnimeList-2020.cs ######################################################

In [14]:
df_anime_2020 = pd.read_csv('data/MyAnimeList-2020.csv', sep=';')
df_anime_2020.head()

,name,type,status,date,genres,score,members,rank,popularity,image,quantity
0,.hack//G.U. Returner,OVA,Finished Airing,"Jan 18, 2007","Magic, Adventure, Fantasy, Game, Sci-Fi, Drama",6.73,NaN,4679.0,3604,https://cdn.myanimelist.net/images/anime/11/23...,1.0
1,.hack//G.U. Trilogy,Movie,Finished Airing,"Mar 25, 2008","Action, Fantasy, Game, Sci-Fi",7.15,NaN,2946.0,2928,https://cdn.myanimelist.net/images/anime/4/230...,1.0
2,.hack//G.U. Trilogy: Parody Mode,Special,Finished Airing,"Mar 25, 2008","Fantasy, Game, Comedy, Sci-Fi, Parody",6.46,NaN,6017.0,4816,https://cdn.myanimelist.net/images/anime/10/86...,1.0
3,.hack//Gift,OVA,Finished Airing,"Nov 16, 2003","Comedy, Fantasy, Game",6.16,NaN,7407.0,3652,https://cdn.myanimelist.net/images/anime/2/230...,1.0
4,.hack//Intermezzo,Special,Finished Airing,"Mar 28, 2003","Adventure, Fantasy, Game, Magic, Mystery, Sci-Fi",6.57,NaN,5452.0,3464,https://cdn.myanimelist.net/images/anime/12/66...,1.0

In [15]:
df_anime_2020.describe()

              score      members          rank    popularity      quantity
count  11943.000000  6962.000000  15380.000000  17044.000000  16571.000000
mean       6.525741   333.379776   7795.068401   8645.815830     11.528695
std        0.881795   243.031385   4498.016570   4995.447682     47.873228
min        1.860000     0.000000      1.000000      1.000000      1.000000
25%        5.950000   146.000000   3895.750000   4319.750000      1.000000
50%        6.540000   251.000000   7794.500000   8642.500000      2.000000
75%        7.150000   473.000000  11685.250000  12968.250000     12.000000
max        9.220000   999.000000  15609.000000  17311.000000   3057.000000

In [17]:
df_anime_2020.shape #17,044 rows

(17044, 11)

In [18]:
df_anime_2020.isnull().sum()

name              0
type              0
status            0
date              0
genres           58
score          5101
members       10082
rank           1664
popularity        0
image          5419
quantity        473
dtype: int64

In [19]:
df_anime_2020.duplicated().sum() #only one duplicated row

1

In [20]:
################################### anime_from_anime_recommendations.csv  ##################################################

In [23]:
df_anime_from_anime_recommendations = pd.read_csv('data/anime_from_anime_recommendations.csv')
df_anime_from_anime_recommendations.head()

,anime_id,name,genre,type,episodes,rating,members
0,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630
1,5114,Fullmetal Alchemist: Brotherhood,"Action, Adventure, Drama, Fantasy, Magic, Mili...",TV,64,9.26,793665
2,28977,Gintama°,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.25,114262
3,9253,Steins;Gate,"Sci-Fi, Thriller",TV,24,9.17,673572
4,9969,Gintama&#039;,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.16,151266

In [25]:
df_anime_from_anime_recommendations.describe()

           anime_id        rating       members
count  12294.000000  12064.000000  1.229400e+04
mean   14058.221653      6.473902  1.807134e+04
std    11455.294701      1.026746  5.482068e+04
min        1.000000      1.670000  5.000000e+00
25%     3484.250000      5.880000  2.250000e+02
50%    10260.500000      6.570000  1.550000e+03
75%    24794.500000      7.180000  9.437000e+03
max    34527.000000     10.000000  1.013917e+06

In [26]:
df_anime_from_anime_recommendations.shape  #12,294 rows

(12294, 7)

In [27]:
df_anime_from_anime_recommendations.isnull().sum()

anime_id      0
name          0
genre        62
type         25
episodes      0
rating      230
members       0
dtype: int64

In [28]:
df_anime_from_anime_recommendations.duplicated().sum() #no duplicate

0

In [29]:
################################### rating_from_anime_recommendations.csv  ##################################################

In [30]:
df_rating_from_anime_recommendations = pd.read_csv('data/rating_from_anime_recommendations.csv')
df_rating_from_anime_recommendations.head()

   user_id  anime_id  rating
0        1        20      -1
1        1        24      -1
2        1        79      -1
3        1       226      -1
4        1       241      -1

In [31]:
df_rating_from_anime_recommendations.describe()

            user_id      anime_id        rating
count  7.813737e+06  7.813737e+06  7.813737e+06
mean   3.672796e+04  8.909072e+03  6.144030e+00
std    2.099795e+04  8.883950e+03  3.727800e+00
min    1.000000e+00  1.000000e+00 -1.000000e+00
25%    1.897400e+04  1.240000e+03  6.000000e+00
50%    3.679100e+04  6.213000e+03  7.000000e+00
75%    5.475700e+04  1.409300e+04  9.000000e+00
max    7.351600e+04  3.451900e+04  1.000000e+01

In [32]:
df_rating_from_anime_recommendations.shape

(7813737, 3)

In [33]:
df_rating_from_anime_recommendations.isnull().sum()

user_id     0
anime_id    0
rating      0
dtype: int64

In [34]:
df_rating_from_anime_recommendations.duplicated().sum()

1